$offset: 35.5%;

.header {
  border-right: 1px solid #ccc;
  left: auto;
  padding: 24px 40px;
  position: fixed;
  right: 100% - $offset;
  text-align: center;
  top: 44px;

  .social {
    margin-top: 2em;
  }
}

.main,
.footer {
  box-sizing: content-box;
  margin: 80px auto 4rem $offset;
  max-width: 46rem;
  padding: 0 0 0 40px;
}

.main {
  font-size: 1.4rem;
}

.footer {
  color: #666;
  margin-bottom: 100px;
  margin-top: 0;
}
