.header {
  border-right: 1px solid $dark-border;
  left: auto;
  padding: 24px 40px;
  position: fixed;
  right: calc(50% + 40px + #{$content-width / 2});
  text-align: center;
  top: 44px;

  .social {
    margin-top: 2em;
  }
}

.main,
.footer {
  box-sizing: content-box;
  margin: 80px auto 4rem;
  max-width: $content-width;
  padding: 0 40px;
}

.main {
  font-size: 1.4rem;
}

.footer {
  color: $light-color;
  margin-bottom: 100px;
  margin-top: 0;
}
