$default-color: #333;

$dark-color: #121212;
$darker-color: #000;

$slightly-light-color: #555;
$light-color: #666;
$lighter-color: #777;
$lightest-color: #999;

$nav-active-background: #f7f7f7;

$light-border: #ddd;
$dark-border: #ccc;

$main-font: Georgia, serif;
$sub-font: Helvetica, sans-serif;
$mono-font: Courier, monospace;

$offset: 35.5%;
$content-width: 46rem;
