.logo {
  color: $darker-color;
  display: block;
  line-height: 1;
  text-decoration: none;

  &:hover {
    color: $light-color;
  }

  .title {
    font-family: $main-font;
    font-size: 18px;
    margin: 2rem 0;
    font-weight: 700;
  }

  .mark {
    user-select: none;
    width: 88px;
    border-radius: 100%;
  }
}
