.pagination {
  color: #121212;
  font-family: Helvetica, sans-serif;
  font-size: .9142em;
  margin: 4rem 0;

  .pager {
    color: #121212;
    text-decoration: none;
    top: -.1em;
    position: relative;

    span {
      border-radius: 50%;
      margin: 0 -4px;
      padding: 0 4px;
    }

    &:hover,
    &:focus,
    &:active {
      span {
        background: #f7f7f7;
      }
    }

    &.prev {
      margin: 0 .5em 0 0;
    }

    &.next {
      margin: 0 0 0 .5em;
    }
  }
}
