<footer class="footer" itemscope itemtype="https://schema.org/WPFooter">
  <form class="search" action="https://duckduckgo.com/" method="get"><label for="search-input" hidden>Search</label><input id="search-input" type="text" name="q"><button type="submit">Search</button><input type="hidden" name="sites" value="joshbradley.me"></form>
  <small class="colophon">&copy; <time itemprop="copyrightYear" datetime="{{ now.Format "2006-01-02T15:04:05-07:00" }}">{{ now.Format "2006" }}</time> <span itemprop="copyrightHolder">Josh Bradley</span></small>
</footer>
